.mediawiki-bot-*
alltwinkle.js
.twinklerc
/.settings
/.project
jsl.conf
stash*.txt
stash*.diff
*.jsX
.vscode/
patch-test-loader.js
coverage/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Node
node_modules/
npm-debug.log*
/modules-ar
twinkle-ar.js
select2.min.css
select2.min.js
run.js
run.bat
node_modules.zip
modules.zip
modules-ar.zip
modules-ar.zip
twinkle-modules-ar.zip
